.col { 
    color: #f4f4f4;
    border: 1px solid #491919;
    background-image: linear-gradient(rgba(10, 31, 100, 0.7),rgba(0, 0, 0, 0.7)),url(img/a/dental-health-png-hd-dental-health-background-template-free-wallpaper-650.jpg);;
    padding: 1.5rem;
    border-radius: 5px;
    max-width: fit-content;
    margin: 0 auto;
    padding: 40px;
    background-color: linear-gradient(rgba(6, 22, 77, 0.7),rgba(75, 6, 6, 0.7));
    box-shadow: 22px 4px 8px goldenrod;
     
}
    .se{ height: 500px;
        width: 1000px;
          box-shadow:goldenrod ;
        
        
        
        
        
        
        }