body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #ff3333;
    font-size: 24px;
}

form {
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

button {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #ff3333;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e60000;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #ff3333;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

/* Additional styles for the admin button */
.admin-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.admin-button:hover {
    background-color: #555;
}

/* Additional styles to move login text */
#login-text {
    text-align: center;
    color: #ff3333;
    font-size: 18px;
    margin-bottom: 10px;
}
